<!DOCTYPE html>
<html>
{% load static%}
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/swiper.css" />
		<script type="text/javascript" src="/static/js/swiper.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css" />

		<link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
		<script type="text/javascript" src="/static/js/home.js" ></script>
        <style>
            .img{
                width: 90%;
                margin-top: 10px;
            }
        </style>
	</head>

	<body style="background-color: #F1F1F1">
    {% csrf_token %}

		<div class="container-fluid">

			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Sunck</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="{% url 'movies:register' %}">注册</a>
						</li>
						<li>
							<a href="{% url 'movies:login' %}">登陆</a>
						</li>
						<!--<li>
							<a class="icon" href="#">
								<img width="40" height="40" class="img-circle" alt="" src="https://cs.vmovier.com/Uploads/Banner/2017/12/23/5a3d52d82724d.png" />
							</a>
						</li>

						<li>
							<a href=""><span>Username</span></a>
						</li>-->
					</ul>
				</div>

			</nav>

			<div class="swiper-container">
				<div class="swiper-wrapper">
                    {% for image in allimages %}
                        <div class="swiper-slide">
						<img src='{{ image }}' alt="">
					    </div>
                    {% endfor %}
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination swiper-pagination-white"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next swiper-button-white"></div>
				<div class="swiper-button-prev swiper-button-white"></div>
			</div>

			<ul class="nav nav-tabs child-nav">
				<li role="presentation" class="active">
					<a href="#">最新推荐</a>
				</li>
{#				<li role="presentation">#}
{#					<a href="#">收藏</a>#}


			</ul>


			<div class="movie" style="background-color:#ffffff;width: 44%;margin-left: 20%;border: #E5E5E5 solid 2px;float: left">
                <ul class="movie_list" style="width: 90%" >
                    {% for movie in amovie %}
                    <li>
                        <div class="movie_list_left" style="width: 40%">
                            <a target="_blank" href="#" title="{{ movie.title }}">
                                <img src="{{ movie.image }}" alt="{{ movie.title }}">
                                <div class="bottom-cover">
                                    <span class="film-time">{{ movie.duration }}</span>
                                </div>
                            </a>
                        </div>

                        <div class="movie_list_right" style="width: 60%">
                            <h2>
                                <a target="_blank" href="" title="{{ movie.title }}">
                                    <span>{{ movie.title }}</span>
                                </a>
                            </h2>

                            <div class="movie-intro">
                                {{ movie.title }}
                            </div>
                            <div class="movie-like">
                                <a href="#"><span class="glyphicon glyphicon-heart" ></span></a>
                                <span></span>
                            </div>
                        </div>
                    </li>
                    {% empty %}
                        没有电影
                    {% endfor %}
                    <li>
                        <div class="movie_list_left" style="width: 40%">
                            <a target="_blank" href="#" title="超酷一镜到底创意倒放MV《串烧2017》">
                                <img src="https://cs.vmovier.com/Uploads/cover/2017-12-21/5a3b7c046a1d5_cut.jpeg@600w_400h_1e_1c.jpg" alt="超酷一镜到底创意倒放MV《串烧2017》">
                                <div class="bottom-cover">
                                    <span class="film-time">02:48</span>
                                </div>
                            </a>
                        </div>

                        <div class="movie_list_right" style="width: 60%">
                            <h2>
                                <a target="_blank" href="" title="超酷一镜到底创意倒放MV《串烧2017》">
                                    <span>超酷一镜到底创意倒放MV《串烧2017》</span>
                                </a>
                            </h2>

                            <div class="movie-intro">
                                在这个倒叙的世界里，唯有一个人与众不同
                            </div>
                            <div class="movie-like">
                                <span class="glyphicon glyphicon-heart" style="color: red;"></span>
                                <span>199</span>
                            </div>
                        </div>
                    </li>


                </ul>
                <div class="pagination" style="width: 13%">
                    <ul>
                        {% if amovie.has_previous %}
                            <a href="?page={{ amovie.previous_page_number }}">上一页</a>
                        {% endif %}
                            <li></li>
                        <span class="current">第 {{ amovie.number }} 页 / 共 {{ amovie.paginator.num_pages }} 页</span>
                        {% if amovie.has_next %}
                            <a href="?page={{ amovie.next_page_number }}">下一页</a>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <img src="/static/img/5.png" alt="" style="width: 14%;margin-left: 2%">
            <div style="background-color:#ffffff;width: 14%;margin-right: 20%;border: #E5E5E5 solid 2px;float: right;text-align: center;">
                <span style="font-size: 16px;border-left: 4px solid #2689ff;color: #393939;float: left;padding: 5px 0px 5px 18px;margin:10px 0">热门活动</span>
                <ul>
                    <li><img class="img" src="/static/img/1.jpg" alt=""></li>
                    <li><img class="img" src="/static/img/2.jpg" alt=""></li>
                    <li><img class="img" src="/static/img/3.jpg" alt=""></li>
                    <li><img class="img" src="/static/img/4.jpg" alt=""></li>
                    <li><img class="img" src="/static/img/1.jpg" alt=""></li>
                </ul>
            </div>

		</div>

	</body>

</html>